	
h1 {
  color: white;
  font-size: 500%;
  font-variant: small-caps;
  text-align: center;
}


h4 {
  color: rgb(0, 96, 128);
  font-size: 200%;
  font-variant: small-caps;
  text-align: center;
}

body
{
  background-image: url('background/OtterSpacePicture.jpg');
  height: 100%;
}
.account{
  color: #d3d3d3;
    align-items: center;
}
.playerList{
  color: #d3d3d3;
   align-items: center;
  
}
.Index{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(50,50,50,0.1);

.error{
	color: red;
}



.label{
	color: white;

  font-family: "scifi_thin";
  font-size: 200%;
  font-variant: small-caps;
  text-align: left;
}

.field
{
	
}

#submitButton
{
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;
}

input[type=submit]
{
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;

}