	
h1 {
  color: white;
  font-family: "scifi_thin";
  font-size: 500%;
  font-variant: small-caps;
  text-align: center;
}

body
{
  background-image: url('background/OtterSpacePicture.jpg');
  height: 100%;
}


.label{
	color: white;
  font-family: "scifi_thin";
  font-size: 200%;
  font-variant: small-caps;
  text-align: left;
}

.field
{
	
}

.Button
{
  background-color: WHITE;
  font-family: "scifi_thin";
  border: 0;
  color: #08088A;
  font-size: 200%;
  margin-top: 50%;
  margin-bottom: 50%;
  margin-right: 5%;
  margin-left: 5%;

}