div {
	font-family: "Courier New", Courier, monospace;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
}

input {
  background-color: rgba(10, 10, 10, 0.01);
	border: 0px;
	color: #d3d3d3;
	font-family: "Courier New", Courier, monospace;
	font-size: 12pt;
	width: 600px;
  float: bottom;
}

.container{

}

input:focus {
	outline:0;
}

.commandline {
	padding: 0 0 0 0;
  border: 1px;
  border-color: #d3d3d3;
}

.content {
	bottom: 0px;
	position: absolute;
}

.moves {
	display:inline-block;
	float:right;
}

.room {
	display:inline-block;
}

.score {
	display:inline-block;
	float:right;
}

.scorebar {
	background-color: #d3d3d3;
	border-radius: 10px 10px 0 0;
	color: #090909;
	height: 25px;
	width: 99%;
}

.screen {
	background-color: rgba(10, 10, 10, 0.7);
	border-radius: 0 0 10px 10px;
	color: #d3d3d3;
	height:600px;
	position:relative;
	width: 99%;
  overflow-y: scroll;
}
	
h1 {
  color: white;
  font-family: "scifi_thin";
  font-size: 500%;
  font-variant: small-caps;
  text-align: center;
}
.error{
	color: red;
}
body
{
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}


.label{
	color: white;
  font-family: "scifi_thin";
  font-size: 200%;
  font-variant: small-caps;
  text-align: left;
}

.field
{
	
}

.Button
{
  background-color: WHITE;
  font-family: "scifi_thin";
  border: 0;
  color: #08088A;
  font-size: 200%;
  margin-top: 50%;
  margin-bottom: 50%;
  margin-right: 5%;
  margin-left: 5%;

}
