@font-face
{
  font-family: "scifi_thin";
  src: url('scifiThin.ttf');
}

h1 {
  color: #08088A;
  font-family: "Courier New", Courier, monospace;
  font-size: 500%;
  font-variant: small-caps;
  text-align: center;
}

h4 {
  color: #08088A;
  font-family: "Courier New", Courier, monospace;
  font-variant: small-caps;
  text-align: center;
}

body
{
  background-image: url('background/OtterSpacePicture.jpg');
  height: 100%;
}

.Index{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}
#submitButton
{
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=submit]
{
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;

}
